[Unit]
Description=Gunicorn instance to serve Flask application
After=network.target

[Service]
WorkingDirectory=/path/to/AirBnB_clone_v4
Environment="PATH=/path/to/your/virtualenv/bin"
ExecStart=/path/to/your/virtualenv/bin/gunicorn -b 0.0.0.0:5003 --workers 3 --error-logfile /tmp/airbnb-error.log --access-logfile /tmp/airbnb-access.log web_dynamic.2-hbnb:app

[Install]
WantedBy=multi-user.target
